.home{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto; 
    flex-direction: column;
    max-width: 1500px;
}

.home__row{
    display: flex;
    z-index: 1;
    margin-left: 50px;
    margin-right: 50px;
    overflow-x:scroll;
    

}
.home__row::-webkit-scrollbar{

    display: none;
}
.banner{
    width: 100%;
    z-index: -1;
    height:fit-content;
    
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom,rgba(0,0,0,1),rgba(0,0,0,0));
}

